@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #555;
}

.winCl-wrap {
  border: 1px solid #000;
  display: inline;
  margin-right: 10px;
  padding-top: 1px;
  padding-bottom: 3px;
  background: #c6c6c6;
}

.winCl-btn {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #848484;
  border-bottom: 1px solid #848484;
  background-color: transparent;
  padding: 3px 15px 3px 15px;
}

.winCl-btn:hover,
.winCl-btn:focus {
  outline: 0;
}

.winCl-btn:active {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #848484;
  border-top: 1px solid #848484;
}



.clear {
  height: 10px;
}

body {
  font-family: 'Cairo', Arial, Helvetica, sans-serif;
  text-align: right;
  direction: rtl;
  padding: 20px;
}
